#HomeContainer {
    display: flex;
    flex-direction: column;
    /* border: 1px solid rgb(128, 128, 128, 0.2); */
    margin-top: 6%;
    height: 100%;
}
        #homeHeader {
            font-size: 24px;
            border-bottom: 1px solid rgb(128, 128, 128, 0.2);
        }
