#signupContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}
        #signupTitle {
            color: #04A8FC;
        }